.footer1{
    max-width: 100%;
}

.footer2{
    width: 80%;
    /* border: 1px solid black; */
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    
}
.footerItem p{
    color: #7A7A7E;
    /* font-weight: bold; */
    margin: 0 5px;
    padding: 5px 0px;
}
.footer3{
    width: 80%;
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
}
.footer3 img{
    width: 10%;
    margin-top: 15px;
    height: 10%;
}
.footer3 p{
    color: #7A7A7E;
}


@media (max-width: 640px) {

    /* .footer1{

    } */
    .footer2{
        width: 100%;
        text-align: center;
        margin-left: 6px;

    }
    .footerItem h3{
font-size: 18px;
    }
    .footerItem p{
        font-size: 12px;
    }
    .footer3 p{
        font-size: 12px;

    }
}
